<div id="formulario">

<h2 class="text-center">REGISTRATE AHORA!!</h2>
<h6 class="text-center">No esperes más y compite con los demás para demostrar que eres el mejor!</h6>
<div class="container was-validated" id="registro" novalidate>
  <div class="mb-3 row">
    <label class="col form-label" for="equipo">Equipo:</label>
    <input type="text" class="form-control" id="equipo" placeholder="Nombre del equipo"[(ngModel)]="nuevoParticipante.nombreEquipo" required>
    <div class="valid-feedback">
      </div>
      <div class="invalid-feedback">
        Ingrese nombre del Equipo
      </div>
  </div>

  <div class="mb-3 row">
    <label class="col form-label" for="procedencia">Procedencia:</label>
    <input type="text" class="form-control" id="procedencia" placeholder="Procedencia" [(ngModel)]="nuevoParticipante.procedencia" required>
    <div class="valid-feedback">
      </div>
      <div class="invalid-feedback">
        Ingrese la procedencia
      </div>
  </div>

  <div class="mb-3 row">
    <label class="col form-label" for="representante">Representante:</label>
    <input type="text" class="form-control" id="representante" placeholder="Representante" [(ngModel)]="nuevoParticipante.representante" required>
    <div class="valid-feedback">
      </div>
      <div class="invalid-feedback">
        Ingrese el representante
      </div>
  </div>

  <div class="mb-3 row">
    <label class="col form-label" for="correo" >Correo Electrónico: </label>
    <input type="text" class="form-control" id="correo" placeholder="Correo Electrónico" [(ngModel)]="nuevoParticipante.email" required>
    <div class="valid-feedback">
      </div>
      <div class="invalid-feedback">
        Ingrese el correo electronico
      </div>
  </div>

  <div class="mb-3 row">
    <label class="col form-label" for="telefono" >Telefono:</label>
    <input type="text" class="form-control" id="telefono" placeholder="Teléfono" [(ngModel)]="nuevoParticipante.telefono" required>
    <div class="valid-feedback">
      </div>
      <div class="invalid-feedback">
        Ingrese el telefono
      </div>
  </div>

  <div class="container boton1">
    <button class="btn btn-primary" id="boton1" (click)="registrarParticipante()">Registrar Participante</button>
  </div>
</div>
</div>

<div class="container">
  <h2>Equipos</h2>
  <div class="scrolling-wrapper row flex-row flex-nowrap">
      <div class="col-4" *ngFor="let participante of participantes">
          <div class="card">
              <div class="card-body">
                  <p class="card-title"><strong>Nombre Equipo:</strong> {{ participante.nombreEquipo }}</p>
                  <p class="card-text"><strong>Procedencia:</strong> {{ participante.procedencia }}</p>
                  <p class="card-text"><strong>Representante:</strong> {{ participante.representante }}</p>
                  <p class="card-text"><strong>Correo Electrónico:</strong> {{ participante.email }}</p>
                  <p class="card-text"><strong>Teléfono:</strong> {{ participante.telefono }}</p>
              </div>
          </div>
      </div>
  </div>
</div>

<br>

<div id="duelosContainer">
  <div class="container">
      <h2>Duelos</h2>
      <div class="row">
          <div class="col-md-6" *ngFor="let participante of participantes; let i = index">
              <ng-container *ngIf="i % 2 === 0">
                  <div class="card mb-3">
                      <div class="card-body">
                          <h5 class="card-title">{{ participante.nombreEquipo }}</h5>
                          vs.
                          <h5 class="card-title">{{ participantes[i + 1]?.nombreEquipo }}</h5>
                      </div>
                  </div>
              </ng-container>
          </div>
      </div>
  </div>
</div>

<div class="container">
  <button class="btn btn-primary" (click)="randomizarEquipos()">Randomizar Equipos</button>
</div>

  <script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()

  </script>