<div id="formulario">
  <br>
<form class="container was-validated" id="registro" novalidate #formContact="ngForm">
  <div class="mb-3 row">
    <label class="col form-label" for="equipo">Equipo:</label>
    <input type="text" name="equipo" class="form-control" id="equipo" placeholder="Nombre del equipo"[(ngModel)]="sharedService.nuevoParticipante.nombreEquipo" required #equipo="ngModel">
    <div class="valid-feedback">
      </div>
      <div class="invalid-feedback" [hidden]="equipo.valid || equipo.pristine">
        Ingrese nombre del Equipo
      </div>
  </div>

  <div class="mb-3 row">
    <label class="col form-label" for="procedencia">Procedencia:</label>
    <input type="text" name="procedencia" class="form-control" id="procedencia" placeholder="Procedencia" [(ngModel)]="sharedService.nuevoParticipante.procedencia" required #procedencia="ngModel">
    <div class="valid-feedback">
      </div>
      <div class="invalid-feedback" [hidden]="procedencia.valid || procedencia.pristine">
        Ingrese la procedencia
      </div>
  </div>

  <div class="mb-3 row">
    <label class="col form-label" for="representante">Representante:</label>
    <input type="text" name="representante" class="form-control" id="representante" placeholder="Representante" [(ngModel)]="sharedService.nuevoParticipante.representante" required required #representante="ngModel">
    <div class="valid-feedback">
      </div>
      <div class="invalid-feedback" [hidden]="representante.valid || representante.pristine">
        Ingrese el representante
      </div>
  </div>

  <div class="mb-3 row">
    <label class="col form-label" for="correo" >Correo Electrónico: </label>
    <input type="text" name="email" class="form-control" id="correo" placeholder="Correo Electrónico" [(ngModel)]="sharedService.nuevoParticipante.email" required required #email="ngModel">
    <div class="valid-feedback">
      </div>
      <div class="invalid-feedback" [hidden]="email.valid || email.pristine">
        Ingrese el correo electronico
      </div>
  </div>

  <div class="mb-3 row">
    <label class="col form-label" for="telefono" >Telefono:</label>
    <input type="text" name="phone" class="form-control" id="telefono" placeholder="Teléfono" [(ngModel)]="sharedService.nuevoParticipante.telefono" required required #phone="ngModel">
    <div class="valid-feedback">
      </div>
      <div class="invalid-feedback" [hidden]="phone.valid || phone.pristine">
        Ingrese el telefono
      </div>
  </div>

  <div class="container boton1">
    <button class="btn btn-primary" [disabled]="formContact.invalid" id="boton1" (click)="sharedService.registrarParticipante()">Registrar Participante</button>
  </div>
</form>
</div>


  <script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()

  </script>