<button class="btn btn-primary" *ngIf="sharedService.sortearDeshabilitado" (click)="barajar()">Barajar Equipos</button>
<br>

<div *ngIf="partidos.length > 2 && participantesNecesarios(partidos.length)" class="bracket br-2">
  <section aria-labelledby="round-1">
    <h2 *ngIf="partidos.length === 16">
      OCTAVOS
    </h2>
    <h2 *ngIf="partidos.length === 8">
      CUARTOS
    </h2>
    <h2 *ngIf="partidos.length === 4">
      SEMIFINAL
    </h2>
    <ol>
      <li *ngFor="let i of getDuelIndexes(partidos.length); let duelIndex = index">
        <div class="item p-1">
          <a href="#" (click)="openModal(partidos[i], partidos[i + 1], duelIndex)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ partidos[i]?.nombreEquipo }}</a>
          <button class="btn btn-warning" [disabled]="duelosDecididosRonda1[duelIndex]"
            (click)="agregarGanadorRonda1(i, duelIndex)">Ganador</button>
        </div>
        <hr>
        <hr>
        <div class="item p-1">
          <a href="#" (click)="openModal(partidos[i], partidos[i + 1], duelIndex)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ partidos[i + 1]?.nombreEquipo }}</a>
          <button class="btn btn-warning" [disabled]="duelosDecididosRonda1[duelIndex]"
            (click)="agregarGanadorRonda1(i + 1, duelIndex)">Ganador</button>
        </div>
      </li>
    </ol>
  </section>


  -------

  <section *ngIf="ganadoresRonda1.length > 0" aria-labelledby="round-2">
    <h2 *ngIf="ganadoresRonda1.length === 8">
      CUARTOS
    </h2>
    <h2 *ngIf="ganadoresRonda1.length === 4">
      SEMIFINAL
    </h2>
    <h2 *ngIf="ganadoresRonda1.length === 2">
      FINAL
    </h2>
    <ol>
      <li *ngFor="let i of getDuelIndexes(ganadoresRonda1.length); let duelIndex = index">
        <div class="item p-1">
          <a href="#">{{ ganadoresRonda1[i]?.nombreEquipo }}</a>
          <button class="btn btn-warning" [disabled]="duelosDecididosRonda2[duelIndex]"
            (click)="agregarGanadorRonda2(i, duelIndex)">Ganador</button>
        </div>
        <hr>
        <hr>
        <div class="item p-1">
          <a href="#">{{ ganadoresRonda1[i + 1]?.nombreEquipo }}</a>
          <button class="btn btn-warning" [disabled]="duelosDecididosRonda2[duelIndex]"
            (click)="agregarGanadorRonda2(i + 1, duelIndex)">Ganador</button>
        </div>
      </li>
    </ol>
  </section>


  --------

  <section aria-labelledby="round-3" *ngIf="ganadoresRonda2.length > 0">
    <h2 *ngIf="ganadoresRonda2.length === 4">
      SEMIFINAL
    </h2>
    <h2 *ngIf="ganadoresRonda2.length === 2">
      FINAL
    </h2>
    <h2 *ngIf="ganadoresRonda2.length === 1" class="winner">
      GANADOR
    </h2>
    <ol>
      <!-- Si solo hay un ganador en la ronda 2 -->
      <li *ngIf="ganadoresRonda2.length === 1">
        <div class="item p-1">
          <a href="#">{{ ganadoresRonda2[0]?.nombreEquipo }}</a>
        </div>
      </li>

      <!-- Si hay más de un ganador en la ronda 2 -->
      <ng-container *ngIf="ganadoresRonda2.length > 1">
        <li *ngFor="let i of getDuelIndexes(ganadoresRonda2.length); let duelIndex = index">
          <div class="item p-1">
            <a href="#">{{ ganadoresRonda2[i]?.nombreEquipo }}</a>
            <button class="btn btn-warning" [disabled]="duelosDecididosRonda3[duelIndex]"
              (click)="agregarGanadorRonda3(i, duelIndex)">Ganador</button>
          </div>
          <hr>
          <hr>
          <div class="item p-1" *ngIf="i + 1 < ganadoresRonda2.length">
            <a href="#">{{ ganadoresRonda2[i + 1]?.nombreEquipo }}</a>
            <button class="btn btn-warning" [disabled]="duelosDecididosRonda3[duelIndex]"
              (click)="agregarGanadorRonda3(i + 1, duelIndex)">Ganador</button>
          </div>
        </li>
      </ng-container>
    </ol>
  </section>

  -------

  <section aria-labelledby="round-4" *ngIf="ganadoresRonda3.length > 0 && ganadoresRonda2.length > 1">
    <h2 *ngIf="ganadoresRonda3.length === 1" class="winner">
      GANADOR
    </h2>
    <h2 *ngIf="ganadoresRonda3.length === 2">
      FINAL
    </h2>
    <ol>
      <!-- Si solo hay un ganador en la ronda 3 -->
      <li *ngIf="ganadoresRonda3.length === 1">
        <div class="item p-1">
          <a href="#">{{ ganadoresRonda3[0]?.nombreEquipo }}</a>
        </div>
      </li>

      <!-- Si hay más de un ganador en la ronda 3 -->
      <ng-container *ngIf="ganadoresRonda3.length > 1">
        <li *ngFor="let i of getDuelIndexes(ganadoresRonda3.length); let duelIndex = index">
          <div class="item p-1">
            <a href="#">{{ ganadoresRonda3[i]?.nombreEquipo }}</a>
            <button class="btn btn-warning" [disabled]="duelosDecididosRonda4[duelIndex]"
              (click)="agregarGanadorRonda4(i, duelIndex)">Ganador</button>
          </div>
          <hr>
          <hr>
          <div class="item p-1" *ngIf="i + 1 < ganadoresRonda3.length">
            <a href="#">{{ ganadoresRonda3[i + 1]?.nombreEquipo }}</a>
            <button class="btn btn-warning" [disabled]="duelosDecididosRonda4[duelIndex]"
              (click)="agregarGanadorRonda4(i + 1, duelIndex)">Ganador</button>
          </div>
        </li>
      </ng-container>
    </ol>
  </section>

  -------

  <section aria-labelledby="winner" *ngIf="ganadoresRonda4.length > 0 && ganadoresRonda3.length > 1">
    <h2 *ngIf="ganadoresRonda4.length === 1" class="winner">
      GANADOR
    </h2>
    <ol>
      <!-- Si solo hay un ganador en la ronda 4 -->
      <li *ngIf="ganadoresRonda4.length === 1">
        <div class="item p-1">
          <a href="#">{{ ganadoresRonda4[0]?.nombreEquipo }}</a>
        </div>
      </li>
    </ol>
  </section>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingresar Resultado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">{{ currentAdversary1?.nombreEquipo }}</div>
          <button class="btn btn-warning" (click)="selectWinner(currentAdversary1, currentDuelIndex)">Ganador</button>
        </div>
        <hr>
        <div class="row">
          <div class="col">{{ currentAdversary2?.nombreEquipo }}</div>
          <button class="btn btn-warning" (click)="selectWinner(currentAdversary2, currentDuelIndex)">Ganador</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>