<h1>Tournament Bracket</h1>
<br>
<button *ngIf="sortearDeshabilitado" (click)="barajar()">Barajar Equipos</button>
<br>
<br>
<!--<div class="bracket">
  <section aria-labelledby="round-1">
    <h2 id="round-1">Round 1</h2>
    <ol>
      <li>
        <div>
          <span>Player 1</span>
          <span>Player 2</span>
          <span>Date: 01.01. 1pm</span>
          </div>
      </li>
      <li>
        <div>
          <span>Player 3</span>
          <span>Player 4</span>
          <span>Date: 01.01. 1.30pm</span>
        </div>
      </li>
      <li>
        <div>
          <span>Player 5</span>
          <span>Player 6</span>
          <span>Date: 01.01. 2pm</span>
        </div>
      </li>
      <li>
        <div>
          <span>Player 7</span>
          <span>Player 8</span>
          <span>Date: 01.01. 2.30pm</span>
        </div>
      </li>
      <li>
        <div>
          <span>Player 9</span>
          <span>Player 10</span>
          <span>Date: 01.01. 3pm</span>
        </div>
      </li>
      <li>
        <div>
          <span>Player 11</span>
          <span>Player 12</span>
          <span>Date: 01.01. 3.30pm</span>
        </div>
      </li>
      <li>
        <div>
          <span>Player 13</span>
          <span>Player 14</span>
          <span>Date: 01.01. 4pm</span>
        </div>
      </li>
      <li>
        <div>
          <span>Player 15</span>
          <span>Player 16</span>
          <span>Date: 01.01. 4.30pm</span>
        </div>
      </li>
    </ol>
  </section>
  <section aria-labelledby="round-2">
    <h2 id="round-2">Round 2</h2>
      <ol>
        <li>
          <div>
            <span>Player 1</span>
            <span>Player 3</span>
            <span>Date: 05.01. 1pm</span>
          </div>
        </li>
        <li>
          <div>
            <span>Player 5</span>
            <span>Player 7</span>
            <span>Date: 05.01. 1.30pm</span>
          </div>
        </li>
        <li>
          <div>
            <span>Player 9</span>
            <span>Player 11</span>
            <span>Date: 05.01. 2pm</span>
          </div>
        </li>
        <li>
          <div>
            <span>Player 13</span>
            <span>Player 15</span>
            <span>Date: 05.01. 2.30pm</span>
          </div>
        </li>
      </ol>
  </section>
  <section aria-labelledby="round-3">
    <h2 id="round-3">Round 3</h2>
    <ol>
      <li>
        <div>
          <span>Player 1</span>
          <span>Player 5</span>
          <span>Date: 07.01. 1pm</span>
        </div>
      </li>
      <li>
        <div>
          <span>Player 9</span>
          <span>Player 13</span>
          <span>Date: 07.01. 1.30pm</span>
        </div>
      </li>
    </ol>
  </section>
  <section aria-labelledby="round-4">
    <h2 id="round-4">Round 4</h2>
    <ol>
      <li>
        <div>
          <span>Player 1</span>
          <span>Player 9</span>
          <span>Date: 10.01. 1pm</span>
        </div>
      </li>
    </ol>
  </section>
  <section aria-labelledby="winner">
    <h2 id="winner">Winner</h2>
    <ol>
      <li>
        <div>
          <span>Player 1</span>
        </div>
      </li>
    </ol>
  </section>
</div>-->

<div class="bracket br-2">
  <section aria-labelledby="round-1">
    <h2 id="round-1">Ronda 1</h2>
    <ol>
      <li>
        <div class="item">
          <a href="#">{{ partidos[0]?.nombreEquipo }}</a> 
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
          <hr>
          <a href="#">{{ partidos[1]?.nombreEquipo }}</a> 
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
        </div>
      </li>
      <li>
        <div class="item">
          <a href="#">{{ partidos[2]?.nombreEquipo }}</a>
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
          <hr>
          <a href="#">{{ partidos[3]?.nombreEquipo }}</a>
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
        </div>
      </li>
      <li>
        <div class="item">
          <a href="#">{{ partidos[4]?.nombreEquipo }}</a>
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
          <hr>
          <a href="#">{{ partidos[5]?.nombreEquipo }}</a>
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
        </div>
      </li>
      <li>
        <div class="item">
          <a href="#">{{ partidos[6]?.nombreEquipo }}</a>
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
          <hr>
          <a href="#">{{ partidos[7]?.nombreEquipo }}</a>
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
        </div>
      </li>
      <li>
        <div class="item">
          <a href="#">{{ partidos[8]?.nombreEquipo }}</a>
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
          <hr>
          <a href="#">{{ partidos[9]?.nombreEquipo }}</a>
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
        </div>
      </li>
      <li>
        <div class="item">
          <a href="#">{{ partidos[10]?.nombreEquipo }}</a>
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
          <hr>
          <a href="#">{{ partidos[11]?.nombreEquipo }}</a>
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
        </div>
      </li>
      <li>
        <div class="item">
          <a href="#">{{ partidos[12]?.nombreEquipo }}</a>
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
          <hr>
          <a href="#">{{ partidos[13]?.nombreEquipo }}</a>
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
        </div>
      </li>
      <li>
        <div class="item">
          <a href="#">{{ partidos[14]?.nombreEquipo }}</a>
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
          <hr>
          <a href="#">{{ partidos[15]?.nombreEquipo }}</a>
          <button (click)="agregarGanador(partidos.indexOf(partidos[i]))">Ganador</button>
          
        </div>
      </li>
    </ol>
  </section>

  -------

  <section aria-labelledby="round-2">
    <h2 id="round-2">Ronda 2</h2>
      <ol>
        <li>
          <div class="item">
            <a href="#">{{ ganadoresRonda1[0]?.nombreEquipo }}</a>
            <hr>
            <a href="#">{{ ganadoresRonda1[1]?.nombreEquipo }}</a>
            
          </div>
        </li>
        <li>
          <div class="item">
            <a href="#">Player 5</a><hr>
            <a href="#">Player 7</a>
            
          </div>
        </li>
        <li>
          <div class="item">
            <a href="#">Player 9</a><hr>
            <a href="#">Player 11</a>
            
          </div>
        </li>
        <li>
          <div class="item">
            <a href="#">Player 13</a><hr>
            <a href="#">Player 15</a>
            
          </div>
        </li>
      </ol>
  </section>

  --------
  
  <section aria-labelledby="round-3">
    <h2 id="round-3">Ronda 3</h2>
    <ol>
      <li>
        <div class="item">
          <a href="#">Player 1</a><hr>
          <a href="#">Player 5</a>
          
        </div>
      </li>
      <li>
        <div class="item">
          <a href="#">Player 9</a><hr>
          <a href="#">Player 13</a>
          
        </div>
      </li>
    </ol>
  </section>
  <section aria-labelledby="round-4">
    <h2 id="round-4">Ronda 4</h2>
    <ol>
      <li>
        <div class="item">
          <a href="#">Player 1</a><hr>
          <a href="#">Player 9</a>
          
        </div>
      </li>
    </ol>
  </section>
  <section aria-labelledby="winner">
    <h2 id="winner">Ganador</h2>
    <ol>
      <li>
        <div class="item">
          <a href="#">Player 1</a>
        </div>
      </li>
    </ol>
  </section>
</div>