:host {
    border: 1px solid black;
    position: absolute;
    z-index: 999;
    cursor: pointer;
    background: white;
}

.title {
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid black;
}
 
.items p {
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid black;
}
 
.items p:hover {
    color: white;
    background: black;
}