h1 {
    font-size: 2rem;
    color: #196e2d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(201, 255, 85);
    text-align: center;
}

.active{
    background-color: #28a745;
}

.bicho{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* tamaño máximo de ancho */
    height: 400px; /* tamaño máximo de alto */
    overflow: hidden; /* oculta el desbordamiento */
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* recorta la imagen para que ocupe todo el contenedor */
    object-position: center; /* centra la imagen */
    max-width: none;
    max-height: none;
  }
  
