h1 {
    font-size: 2rem;
    color: #196e2d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(201, 255, 85);
    text-align: center;
}

.active{
    background-color: #28a745;
}

.bicho{
    width: 100%;
    margin-top: 2rem;
}