<h1 class="mb-4 pt-4 pb-4">ORGANIZA TU MEJOR TORNEO YA!</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a routerLink="registro" class="list-group-item list-group-item-action" routerLinkActive="active" [class.disabled]="disableRegistro">Registro</a>
                <a routerLink="equipos" class="list-group-item list-group-item-action" routerLinkActive="active">Equipos</a>
                <a routerLink="bracket" class="list-group-item list-group-item-action" routerLinkActive="active">Bracket</a>
                <a routerLink="grupos" class="list-group-item list-group-item-action" routerLinkActive="active">Fase de grupos</a>
            </div>
            <div class="image-container bicho">
                <img id="slideshow" src="../../assets/cr7-neymar.jpg" alt="Imagen">
              </div>
        </div>
        <div class="col-md-9">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

