<div id="duelosContainer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="container d-flex justify-content-center align-items-center full-screen">
          <button class="btn btn-primary mt-3" (click)="sharedService.instanciaDuelos()">MOSTRAR</button>
      </div>
        <br>
        <div>
          <div class="col-md-12" *ngFor="let duelo of sharedService.duelosIndependientes; let i = index">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">{{ sharedService.names[i * 2] }}</h5>
                <input type="number" [(ngModel)]="duelo.score1" class="col-1" placeholder="Equipo 1">
                vs.
                <input type="number" [(ngModel)]="duelo.score2" class="col-1" placeholder="Equipo 2">
                <h5 class="card-title">{{ sharedService.names[i * 2 + 1]}}</h5>
              </div>
            </div>
          </div>
          <div class="row col-3">
            <button class="btn btn-danger mt-3" (click)="sharedService.borrarPuntajes()">BORRAR PUNTAJES</button>
            <button class="btn btn-success mt-3" (click)="sharedService.winner()">GANADORES</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 ganadores pt-3">
        <h3 class="mb-3 text-center">GANADORES</h3>
        <img class="flechita" src="../../../assets/flecha-abajo.png">
        <div *ngFor="let win of sharedService.winners; let i = index">
          <ul>
            <li class="list">{{sharedService.winners[i]}}</li>
          </ul>
        </div>
        <button class="btn btn-warning mt-3" [routerLink]="['/contenedor/duelos']" (click)="siguienteRonda()">Pasar a Siguiente Ronda</button>
      </div>
    </div>
  </div>
</div>